<!DOCTYPE html>
<html>

<%- include('../bonuses/head', {title: skill.name } ) %>

    <body>
        <div class="container">
            <div class="card col-md-4 offset-md-4 text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= skill.name %>
                    </h5>
                    <p class="card-text">Do I have this skill: <%= skill.hasSkill ? '✅' : '❌' %>
                    </p>
                    <a href="/" class="card-link">Home</a>
                    <a href="/skills" class="card-link">Skills</a>
                </div>
            </div>
        </div>
    </body>

</html>