<!DOCTYPE html>
<html>
<%- include('bonuses/head', {title: 'My Dev Skill' } ) %>

  <body>
    <h1>
      <%= title %>
    </h1>
    <p>Welcome to <%= title %>
    </p>
    <a href="/skills">Go to Skills</a>
  </body>

</html>